header{
    background: #0d5368;
    height: 150px;
}
.header{
    text-align: center;
    font-size: 50px;
}
.main_container{
    width: 90%;
    display: flex;
    padding: 30px 30px;

    justify-content: space-evenly;
}
.section-productos{
    padding: 10px;
}
.productos_container{
    width: 200px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius:10px;
    border: solid #0d5368;
    padding-top: 0px;
    padding-bottom: 40px;
    text-align: center;
}

.imagen-container {
    width: 100px;
}
.card img{
    width: 100%;
    border-radius: 5px;
}

.section-formulario{
    width: 20%;
    padding: 5%;
    border-radius: 5%;
    background: #d9fcf9;
    border: solid #0d5368; 
}
.section-formulario form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
}
